.App {
  display: flex;
  justify-content: center;
  letter-spacing: 3px;
  font-family: 'sans-serif';
  text-transform: uppercase;
  flex-direction: column;
}

.poke-world {
  color: #ffe004;
  display: flex;
}

body {
  margin: 0%;
  padding: 0%;
}

.titleSection {
  background-color: #3498db;
  height: 300px;
  padding-top: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleSection input {
  border: 1px solid red;
  width: 200px;
  border-radius: 10px 10px;
  height: 40px;
}
.titleSection button {
  border: none;
  width: 200px;
  border-radius: 10px;
  height: 60px;
  color: white;
  background: #006cbf;
  font-size: 19px;
  margin: 20px;
}
.titleSection button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.DisplaySection {
  text-align: center;
}

.DisplaySection img {
  width: 20%;
}

.DisplaySection h1 {
  margin: 10px;
}
@keyframes slideIn {
  0% {
    transform: translateX(-70%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideIn 1s ease-out;
}
